:root {
  font-size: 16px;
}

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 4rem;
  font-family: var(--font-geist-sans);
  background-color: #d6d6d6;
  overflow: hidden;
}

.dots {
  width: 100vw;
  height: 200vh;
  background-image: radial-gradient(circle at center, transparent 15%, #0f0f0f 16%);
  background-size: 5rem 5rem;
  background-repeat: repeat;
  animation-name: scrollDots;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes scrollDots {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0%);
  }
}
