:root {
  font-size: 16px;
}

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 4rem;
  font-family: var(--font-geist-sans);
}

.dots {
  width: 100vw;
  height: 300vh;
  background-image: radial-gradient(circle at center, transparent 20%, #000 21%);
  background-size: 5rem 5rem;
  background-repeat: repeat;
}
